<div><%= @game.attacking_player.name %> attacked <%= @game.attacked_player.name %></div>
<div><%= @game.attacked_player.name %> has <%= @game.attacked_player.hit_points %> hit points</div>


<a href="/switch_turn">Switch Turn</a>
